
h1{
    text-align: center;
}
nav{
margin-bottom: 20px;
box-shadow:0px 2px 4px #333;
}

.item{
    border:1px solid rgb(185, 182, 182);
    display: inline-block;
    width:250px;
    height: 400px;
    margin:15px;
    vertical-align: top;
    border-radius: 6px;
    padding:10px;

}

.item:hover{
    box-shadow: -2px 3px 2px #bababa;
    border-color:gray;
}

.item img{
    width:190px;
    height:120px;
    margin:5px;
    
}

.item button{
    text-align: center;
}

.item .buttondiv{
    display: flex;
    justify-content: center;
}

.itemprice{
    font-weight: bolder;
    font-size: 2rem;
    color:rgb(158, 28, 28);
}